
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* common styles */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header section styles */
header{
    background-color: #2D25A0;
    padding-left: 156px;
    padding-right: 140px;
    padding-top: 153px;
    padding-bottom: 86px;
    margin-bottom: 70px;
}
.top-banner{
    display: flex;
    align-items: center;
}
.top-banner h1{
    font-size: 64px;
    line-height: 80px;
    color: #fff;
    margin-bottom: 10px;
}
.top-banner button{
    background-color: #E02C6D;
    color: white;
    border: none;
    padding: 10px 25px;
    font-family: 'Poppins', sans-serif;
    transition: all .2s ease-in-out;
}
.top-banner button:hover{
    transform: scale(1.25);
    background: #E02C6D;
    color: white;
}
.top-banner img{
    margin-left: 150px;
    /* border: 1px solid white; */
    width: 556.01px;
    height: 438px;
}

/* top players styles */
.top-players{
    /* width: 90%; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    justify-content: center;
}
.player{
    box-sizing: border-box;
    width: 330px;
    height: 474px;
    /* width: 60%; */
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 300px;
    height: 256px;
    margin-bottom: 16px;
}
.player .player-name{
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
}
.player .player-info{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}

/* footer section styles */
footer{
    text-align: center;
    margin-bottom: 63px;
}
.logo img{
    width: 483.87px;
    height: 110px;
    margin-bottom: 20px;
}
.social-media-icon .fab{
    font-size: 20px;
    color: #969BAB;
    margin-right: 20px;
    margin-bottom: 20px;
}
.social-media-icon .fa-youtube{
    margin-right: 0;
}
.copyright{
    font-size: 18px;
    line-height: 24px;
}

/* Media Queries */

@media screen and (min-width: 688px) and (max-width: 720px){
    header{
        padding-left: 15px;
        padding-right: 0px;
        padding-top: 100px;
        padding-bottom: 10px;
        margin-bottom: 47px;
    }
    .top-banner{
        flex-direction: column;
        align-items: flex-start;
    }
    #info{
        margin-bottom: 50px;
    }
    .top-banner h1{
        font-size: 42px;
        line-height: 50px;
        margin-bottom: 30px;
    }
    .top-banner img{
        margin-left: 0px;
        width: 329px;
        height: 260px;
    }
    
    /* top players styles */
    .top-players{
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 27px;
    /* justify-content: center; */
}

    footer{
        display: none;
    }
}