
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* common styles */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header section styles */
header{
    background-color: #2D25A0;
    box-sizing: border-box;
    width: 100%;
    padding-left: 156px;
    padding-right: 140px;
    padding-top: 153px;
    padding-bottom: 86px;
    margin-bottom: 70px;
}
.top-banner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-banner h1{
    font-size: 64px;
    line-height: 80px;
    color: #fff;
    margin-bottom: 27px;
}
.top-banner button{
    background-color: #E02C6D;
    color: white;
    border: none;
    padding: 10px 24px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    transition: all .2s ease-in-out;
}
.top-banner button:hover{
    transform: scale(1.25);
    background: #E02C6D;
    color: white;
}
.top-banner img{
    margin-left: 100px;
    /* border: 1px solid white; */
    width: 556.01px;
    height: 438px;
}

/* top players styles */
.top-players{
    /* width: 90%; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    justify-content: center;
    margin-bottom: 100px;
}
.player{
    box-sizing: border-box;
    width: 330px;
    height: 474px;
    /* width: 60%; */
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 300px;
    height: 256px;
    margin-bottom: 16px;
}
.player .player-name{
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 10px;
}
.player .player-info{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
    padding: .8px 0;
}

/* top news section styles */
.top-news-section{
    margin-bottom: 100px;
}
.news-section-title{
    font-size: 26px;
    padding-bottom: 5px;
    margin-bottom: 50px;
    border-bottom: 1px solid black;
}
.top-news{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.news{
    box-sizing: border-box;
    width: 330px;
    height: 474px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.news img{
    width: 300px;
    height: 256px;
    margin-bottom: 5px;
}
.news-status{
    font-size: 13px;
    color: #6C6C6C;
    display: flex;
    padding-bottom: 15px;
    justify-content: space-between;
}
.news-headline{
    margin-bottom: 5px;
}
.news-description{
    color: #6C6C6C;
}

/* match section styles */
.match-time-table{
    margin-bottom: 100px;
}
.match-section-title{
    font-size: 26px;
    padding-bottom: 5px;
    margin-bottom: 50px;
    border-bottom: 1px solid black;
}
.matches{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
#final-match{
    display: flex;
    grid-area: 1 / 1 / 2 / 4;
    width: 1050px;
}
#final-match img{
    width: 660px;
    height: 445px;
}
#final-status{
    padding: 60px;
}
#final-status .match-name{
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.match{
    box-sizing: border-box;
    width: 330px;
    height: 474px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.match img{
    width: 300px;
    height: 256px;
    margin-bottom: 5px;
}
.match-status{
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    display: flex;
    padding-bottom: 15px;
    justify-content: space-between;
}
.match-status p{
    background-color: #2D25A0;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.match-name{
    margin-bottom: 5px;
}
.match-time{
    color: #6C6C6C;
}
.match-leaderboard{
    padding-top: 10px;
    font-size: 18px;
}

/* footer section styles */
footer{
    text-align: center;
    margin-bottom: 63px;
}
.logo img{
    width: 483.87px;
    height: 110px;
    margin-bottom: 20px;
}
.social-media-icon .fab{
    font-size: 20px;
    color: #969BAB;
    margin-right: 20px;
    margin-bottom: 20px;
}
.social-media-icon .fa-youtube{
    margin-right: 0;
}
.copyright{
    font-size: 18px;
    line-height: 24px;
}


@media (max-width:688px){

    /* header section styles */
    header{
        box-sizing: border-box;
        background-color: #2D25A0;
        padding-left: 15px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 70px;
    }
    .top-banner{
        flex-direction: column;
        align-items: flex-start;
        padding-top: 112px;
    }
    #banner-info{
        margin-bottom: 50px;
    }
    .top-banner h1{
        font-size: 36px;
        line-height: 50px;
    }
    .top-banner img{
        margin-left: 0;
        width: 329px;
        height: 259px;
        margin-bottom: 60px;
    }

    /* top players styles */
    .top-players{
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 24px;
        justify-content: center;
    }
    /* top news section styles */
    .top-news{
        grid-template-columns: repeat(1, 1fr);
    }
    /* matches section styles */
    #final-match{
        display: none;
    }
    .matches{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 27px;
    }
    /* footer styles */
    footer{
        margin-bottom: 187px;
    }
    footer .logo img{
        width: 271px;
        height: 63px;
    }
    /* .match-time-table{
        display: none;
    } */
}